@page "/flights/add"
@rendermode InteractiveServer
@using FlightBase.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<FlightBaseContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Add Flight</PageTitle>

<h1>Add Flight</h1>

<EditForm Model="flight" OnValidSubmit="HandleSubmit" FormName="AddFlight">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <FlightFormFields Flight="flight" />

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Add Flight</button>
        <a href="flights" class="btn btn-secondary ms-2">Cancel</a>
    </div>
</EditForm>

@code {
    private Flight flight = new();

    private async Task HandleSubmit()
    {
        using var context = DbFactory.CreateDbContext();
        context.Flights.Add(flight);
        await context.SaveChangesAsync();
        Navigation.NavigateTo("/flights");
    }
}
