@page "/"

<PageTitle>FlightBase</PageTitle>

<h1>FlightBase</h1>
<p class="lead">Your personal database of interesting flights for MSFS 2024.</p>

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">View Flights</h5>
                <p class="card-text">Browse your flight collection with sorting and pagination.</p>
                <a href="flights" class="btn btn-primary">Go to Flights</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Add Flight</h5>
                <p class="card-text">Add a new interesting flight to your database.</p>
                <a href="flights/add" class="btn btn-success">Add Flight</a>
            </div>
        </div>
    </div>
</div>
